{% extends 'base.html' %}
{% load static %}

<html>
	<head>
	{% block title %}Home{% endblock %}

	{% block content %}
	{% if user.is_authenticated %}
	<link rel="stylesheet" href="{% static 'CSS/goodies.css' %}">
	<script src="{% static 'JavaScript/Checkout.js' %}"></script>
	    <div class="container">
		{% for item in items %}
	<div class="Object">
					
    			<div class="img">
                	
                	 <img class = "objimg" src="{{item.imglink.url}}" alt="Thanos_Gauntlet" width="200" height="200">   
                </div>
				<div class="description">

        				
        				<h2 >{{item.name}}</h2>
						<ul class="specs" >
	                		<li>Credits:4</li>
	                		<li>Special Edition</li>
	                		
                      <input id="{{item.itemid}}" class="buy_button" onclick="Adder({{item.price}})" type="submit" value="ADD TO CART" name="{{item.itemid}}">
					  <input class="buy_button" onclick="Remove({{item.price}})" type="submit" value="REMOVE FROM CART" name="{{item.itemid}}">
	                		
	                	</ul>
					</div>
			  <div class="price_n_offers">
              		<h3> &#8377 {{item.price}} </h3> 
              		<p> <span class="strike_through_price"> &#8377 {{item.price}}</span> <span class="discount"> 33% off</span></p>
              		<p>Offers</p>
              		<ul class="offers">
              			<li>Credits can be redeemed</li>
              			<li>Special Price</li>
              		</ul>
              </div>
			 </div>
		{% endfor %}
		<input class="buy_button" onclick="Checkout()" type="submit" value="PROCEED TO CHECKOUT">
		
	  <p id="Top-Right"><a href="{% url 'logout' %}">logout</a></p>
	{% else %}
	  <p>You are not logged in</p>
	  <a href="{% url 'login' %}">login</a>
	  <a href="{% url 'signup' %}">Signup</a>
	   <a href="{% url 'feedback_form' %}">Feedback</a>
	{% endif %}
	{% endblock %}